version: '3.9'
services:
  jenkins:
    build:
      context: .
    container_name: jenkins
    privileged: true
    user: root
    # ports:
    #   - '8080:8080'
    volumes:
      - /jenkins:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    networks:
      - www

networks:
  www:
    name: www
