version: '3.9'
services:
  private-network:
    container_name: private-network
    build:
      context: .
    ports:
      - 5555:2083
    network_mode: bridge
    restart: always
    volumes:
      - private-network:/vpnserver/

volumes:
  private-network:
